@import '/assets/fonts/roboto/roboto.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #3b1ecc;
  font-weight: 500;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

footer {
  background-color: black;
  color: white;
  padding: 40px;
  font-size: 0.8rem;
  text-align: center;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  display: flex;
}

.container {
  box-sizing: content-box;
  padding: 4rem;
}

.container.single-column {
  max-width: 50rem;
}

.btn {
  background-color: rgb(135, 23, 121);
  color: white;
  margin-bottom: 20px;
  font-size: .8rem;
  border-radius: 3px;
}

.btn-header {
  background-color: #0dab76;
  color: white;
  font-weight: 600;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}

.btn-news {
  background-color: #f00699;
  color: white;
  border-radius: 20px;
}

.mega_header {
  padding: 2rem 1rem;
  max-width: 48rem;
  margin: auto;
}

.mega_header h1 {
  font-weight: 600;
  font-size: 4.0rem;
}

.mega_header p {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

hr {
  height: 15px;
  width: 100px;
  border-radius: 15px;
  margin: 1.5rem 0;
}

hr.hr-magenta {
  background: #f00699;
}

hr.hr-greenish {
  background: #0dab76;
}

hr.hr-yellow {
  background: #fff90d;
}

.bg-medium {
  background-color: #fbfaf9;
  color: #2f1847;
}

.bg-green {
  background-image: linear-gradient(to top,rgb(13,171,118, 0.95),rgb(13,171,118, 0.95)), url("/assets/images/water_pattern.jpg");
  background-size: 1400px;
  color: white;
}

.bg-green a {
  color: white;
}

.bg-dark {
  background-image: linear-gradient(to bottom, rgba(59, 30, 104, 0.95), rgba(59, 30, 104, 0.95)), url("/assets/images/water_pattern.jpg");
  background-size: 1400px;
  color: white;
}

.bg-dark a {
  color: white;
}

.bg-grey {
  color: #300124;
  background-color: #f1f1f1;
}

nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 5%;
  text-align: right;
  font-weight: 300;
  z-index: 200;
  background-color: black;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav > .left {
  flex-shrink: 0;

  display: flex;
  align-items: center;
}

nav > .right {
  flex-shrink: 0;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  color: white;
}

nav a.top-level-nav {
  cursor: pointer;
  color: white;
  display: inline-block;
  padding: 0.2rem 1rem;
  font-weight: 700;
}

nav a.top-level-nav:hover {
  text-decoration: none;
}

nav .dropdown {
  z-index: 210;
  position: absolute;
  right: 0;
  padding: 5px;
  background-color: black;
  border-radius: 3px;
  white-space: nowrap;
}

nav .dropdown ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 920px) {
  .mega_header h1 {
    font-weight: 600;
    font-size: 2rem;
  }

  nav {
    padding: 0;
  }
}

.radar-label {
  display: inline-block;
  padding: .5rem;
  border-radius: 3px;
}

.radar-label-try {
  background-color: violet;
  color: white;
}

.radar-label-use {
  background-color: pink;
  color: white;
}

.radar-label-share {
  background-color: gold;
  color: white;
}
