@import '/assets/fonts/roboto/roboto.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word; /* On narrow screens, prefer a broken title over a horizontal scrollbar. */
  scroll-padding-top: 80px;
}

a {
  color: #3b1ecc;
  font-weight: 500;
  text-decoration: none;
}

abbr {
  text-decoration: dotted underline;
  text-decoration: dotted underline #00000066;
}

a[title] {
  text-decoration: dotted underline;
  text-decoration: dotted underline #3b1ecc66;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

/* Keep list items dense. */
li > blockquote,
li > ul,
li > ol {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote, q {
  font-style: italic;
}

figcaption {
  text-align: right;
  font-size: smaller;
}

footer {
  background-color: black;
  color: white;
  padding: 40px;
  font-size: 0.8rem;
  text-align: center;
}

.container {
  box-sizing: content-box;
  padding: 2rem;
}

.container.single-column {
  max-width: 44rem;
}

.btn-support {
  display: inline-block;
  background-color: #0dab76;
  color: white;
  padding: 2px 10px;
  border-radius: 10px;
}

.btn-news {
  display: inline-block;
  background-color: #f00699;
  color: white;
  border-radius: 20px;
}

.btn.caps {
  font-size: 0.8rem;
}

header {
  padding: 2rem;
  padding-top: 80px; /* Some extra space because of the navigation bar */
  max-width: 48rem;
  margin: auto;
}

header h1 {
  margin: 0;
  font-weight: 600;
  font-size: 4.0rem;
}

header p {
  max-width: 48rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

.front-page-header {
  max-width: none;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background: black;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.0) 80%, #fbfaf999), url('/assets/images/nasa-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.front-page-header .intro-text {
  background: rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.4);
  border-radius: 100px;
}

.front-page-header > :not(.intro-text) {
  /* Keep other things above the box-shadow of the intro-text */
  z-index: 10;
}

.front-page-header .intro-text p:last-child {
  margin-bottom: 0;
}

hr {
  width: 50%;
  margin: 1.5rem auto;
}

hr.pill {
  height: 15px;
  width: 100px;
  border-radius: 15px;
  margin: 1.5rem 0;
}

hr.pill.centered {
  margin-left: auto;
  margin-right: auto;
}

hr.pill.magenta {
  background: #f00699;
}

hr.pill.greenish {
  background: #0dab76;
}

hr.pill.yellow {
  background: #fff90d;
}

.bg-medium {
  background-color: #fbfaf9;
  color: #2f1847;
}

.bg-green {
  background-image: linear-gradient(to top,rgb(13,171,118, 0.95),rgb(13,171,118, 0.95)), url("/assets/images/water_pattern.jpg");
  background-size: 1400px;
  color: white;
}

.bg-green a {
  color: white;
}

.bg-dark {
  background-image: linear-gradient(to bottom, rgba(59, 30, 104, 0.95), rgba(59, 30, 104, 0.95)), url("/assets/images/water_pattern.jpg");
  background-size: 1400px;
  color: white;
}

.bg-dark a {
  color: white;
}

.bg-grey {
  color: #300124;
  background-color: #f1f1f1;
}

nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 5%;
  text-align: right;
  font-weight: 300;
  z-index: 200;
  background-color: black;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav, nav a {
  color: white;
}

nav > .left {
  flex-shrink: 0;

  display: flex;
  align-items: center;
}

nav > .right {
  flex-shrink: 0;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}



nav .top-level-nav {
  cursor: pointer;
  color: white;
  padding: 0.2rem 1rem;
  font-weight: 700;
}

nav .dropdown {
  min-width: 124px;
  z-index: 210;
  position: absolute;
  right: 0;
  background-color: black;
  border: 1px solid white;
  border-radius: 3px;
  white-space: nowrap;
}

nav .dropdown ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

nav .dropdown li a {
  display: block;
  padding: .5em;
}

nav a:hover, nav summary:hover, nav a:focus, nav summary:focus {
  background-color: #440066;
  text-decoration: none;
}

@media screen and (max-width: 920px) {
  header h1 {
    font-weight: 600;
    font-size: 2rem;
  }

  nav {
    padding: 0;
  }
}

.radar-label {
  display: inline-block;
  padding: .5rem;
  border-radius: 3px;
}

.radar-label-try {
  background-color: violet;
  color: white;
}

.radar-label-use {
  background-color: pink;
  color: white;
}

.radar-label-share {
  background-color: gold;
  color: white;
}

/* for more whitespace between sections, list items, … */
.spacious li {
  margin-bottom: 0.2em;
}

.spacious li li {
  margin-bottom: unset;
}

.spacious h2,
.spacious h3 {
  margin-top: 2em;
}
