@import '/assets/fonts/roboto/roboto.css';

body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
}

body a {
  color: #3b1ecc;
  font-weight: 500;
}

p {
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

footer {
  background-color: black;
  color: white;
  padding: 40px;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh-24px);
  min-height: 500px;
  position: relative;
  z-index: 100;
  top: 50px;
  border: none;
  display: flex;
}

.video {
  height: 450px;
}

.header_box {
  top: 20%;
  margin-left: 15%;
  margin-right: 15%;
}

.btn-header {
  background-color: #0dab76;
  color: white;
  padding: 30px;
  margin: 10vw;
  font-size: 1.3rem;
  font-weight: 500;
  width: 5vw;
  height: 5vh;
  border-radius: 3vw;
}

.btn {
  background-color: rgb(135, 23, 121);
  color: white;
  margin-bottom: 20px;
  font-size: .8rem;
}

.btn-news {
  background-color: #f00699;
  color: white;
  padding: 10px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  font-weight: 400;
  width: 3vw;
  height: 3vh;
  border-radius: 3vw;
}

.dropdown {
  padding: 5px;
  background-color: black;
}

.mega_header h1 {
  font-weight: 600;
  font-size: 4.0rem;
}

.mega_header p {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

hr.haar-fijn {
  border: 0;
  height: 15px;
  background: #f00699;
  margin: 0 auto;
}

hr.haar-fijn-3 {
  background: #fff90d;
  border: 0;
  height: 1.5vw;
  width: 5.5vw;
  border-radius: 1.5vw;
  margin-left: 3%;
}

hr.haar-fijn-2 {
  background: #f00699;
  border: 0;
  height: 1.5vw;
  width: 5.5vw;
  border-radius: 1.5vw;
  margin-left: 3%;
}

hr.haar-fijn-20 {
  background: #0dab76;
  border: 0;
  height: 1.5vw;
  width: 5.5vw;
  border-radius: 1.5vw;
  margin-left: 3%;
}

hr.haar-header {
  background: #0dab76;
  border: 0;
  height: 1.5vw;
  width: 5.5vw;
  border-radius: 1.5vw;
}

hr.haar-fijn-5 {
  border: 0;
  height: 12px;
  width: 10vw;
  background: #ff26e4;
  margin-left: 0%;
  margin-bottom: 5%;
}

hr.haar-fijn-6 {
  border: 0;
  height: 12px;
  width: 10vw;
  background: #fff90d;
  margin-left: 0%;
  margin-bottom: 5%;
}

.bg-medium {
  background-color: #fbfaf9;
  color: #2f1847;
  border: none;
}

.bg-green {
  background-image: linear-gradient(to top,rgb(13,171,118, 0.95),rgb(13,171,118, 0.95)), url("/assets/images/water_pattern.jpg");
  background-size: 1400px;
  color: white;
}

.bg-green a {
  color: white;
}

.bg-dark {
  background-image: linear-gradient(to bottom, rgba(59, 30, 104, 0.95), rgba(59, 30, 104, 0.95)), url("/assets/images/water_pattern.jpg");
  background-size: 1400px;
  border: none;
  color: white;
  font-weight: 400;
}

.bg-dark a {
  color: white;
  font-weight: 600;
}

.bg-grey {
  color: #300124;
  background-color: #f1f1f1;
}

.bg-dark strong {
  color: #fbff12;
}

.border {
  border: none;
}

.elem-margin {
  padding-bottom: 80px;
}

.nav-item {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 55px;
  text-align: right;
  font-weight: 300;
  z-index: 200;
  background-color: black;
}

.nav-item img {
  max-width: 8%;
  margin-top: 1%;
}

.nav-item a {
  font-size: 1rem;
  color: white;
  background-color: black;
}

.contact {
  padding-top: 1%;
  margin-bottom: 2%;
}

@media screen and (max-width: 920px) {
  .elem-margin {
    padding-bottom: 40px;
  }

  .mega_header h1 {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .btn-header {
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 1.0rem;
    width: 200px;
    height: 200px;
  }

  .nav-item {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    height: 25px;
    text-align: right;
    font-weight: 300;
    z-index: 200;
    background-color: black;
  }

  .contact {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .bg-black {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.radar-label {
  display: inline-block;
  padding: .5rem;
  border-radius: 3px;
}

.radar-label-try {
  background-color: violet;
  color: white;
}

.radar-label-use {
  background-color: pink;
  color: white;
}

.radar-label-share {
  background-color: gold;
  color: white;
}
