---
layout: default
title: Radar
id: radar
---

<section class="container bg-white">
  <div class="clearfix mxn3">
    <h1>Redecentralize Radar app directory</h1>
    <hr class="pill magenta"/>
    <div class="md-col md-col-7 px3">

      {% for entry in site.radar reversed %}
      <div class="py2" style="width: 100%; display: flex; align-items: flex-start;">
        <img
          style="margin-right: 1em; width: 88px; flex-shrink: 0;"
          src="/assets/images/radar/{{ entry.icon }}"/>
        <div style="flex-grow: 1;">
          <h3 class="caps mt0">
            {% if entry.status == "use" %}
            <span class="radar-label radar-label-use">Use</span>
            {% endif %}
            {% if entry.status == "try" %}
            <span class="radar-label radar-label-try">Try</span>
            {% endif %}
            {% if entry.status == "share" %}
            <span class="radar-label radar-label-share">Share</span>
            {% endif %}
            <a class="" href="{{ entry.url }}">{{ entry.title }}</a>
          </h3>
          <p>
            {{ entry.intro }}
            <br/>
            <span class="muted">{{ entry.date | date: "%-d %b %Y"}}</span>
          </p>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="md-col-right md-col-5 px3">

      <h2>Sign up</h2>

      <p class="lead">
        We'll email you when a new decentralized app gets good enough to try, use or share.
      </p>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//redecentralize.us7.list-manage.com/subscribe/post?u=e695b0ee388925f96abc28c36&amp;id=8718aeab17" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

            <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email address" required/>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e695b0ee388925f96abc28c36_8718aeab17" tabindex="-1" value=""/></div>
            <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"/></div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->

      <p>
        <a target="_blank" href="/radar/feed.rss"><i class="icon-rss"></i> RSS feed</a>
      </p>

      <h2>What is "good enough"?</h2>

      <h3><span class="radar-label radar-label-try">Try</span></h3>

      <p>
        This app looks really promising. It's not
        just a tech demo &mdash; it's got a good user interface
        and support too. If you're interested in a
        decentralized internet, try it out, and report bugs.
      </p>

      <h3><span class="radar-label radar-label-use">Use</span></h3>

      <p>
        This app is great to use day to day, and many
        people do so. It is more private and more resilient
        than alternatives. Using it will help create a more
        competitive market.
      </p>

      <h3><span class="radar-label radar-label-share">Share</span></h3>

      <p>
        This app is not only strategically important
        for decentralization, it competes extremely well
        against alternatives that your friends already use.
        Tell them about it.
      </p>

      <!--
      <h2>How are they judged?</h2>

      <p>
        There's no rigid criteria, it's an editorial call. These are some key factors:
      </p>
      <ul>
        <li>Product has shipped</li>
        <li>Home page has clear description of what it is in a way any consumer might understand</li>
        <li>Working Android and iOS apps available</li>
        <li>Actually installs and runs and does its job relatively easily</li>
        <li>There's a small community using it day to day for real</li>
        <li>It's actually useful</li>
        <li>It feels good quality</li>
        <li>It's actually decentralized</li>
      </ul> -->

      <p style="margin-top: 24px;">
        <a href="https://www.thoughtworks.com/radar">
          Thanks to the inspiring ThoughtWorks Radar
        </a>
      </p>
    </div>
  </div>
</section>
