---
layout: default
title: Radar
id: radar
---

<section class="container bg-white">
  <div class="clearfix mxn3">
    <h1>Redecentralize Radar</h1>
    <p>
      These are some apps we found good enough to recommend trying, using and sharing them.
      They may help you replace their less benevolent alternatives, and get more control over your data and digital devices.
    </p>
    <p>
      The list below is short, selective, and somewhat outdated; for more tips, perhaps have a look at the excellent <a href="https://switching.software">switching.software</a>, or for more technical needs the <a href="https://github.com/redecentralize/alternative-internet">Alternative Internet</a> directory.
    </p>
    <hr class="pill magenta"/>
    <div class="md-col md-col-7 px3">

      {% for entry in site.radar reversed %}
      <div class="py2" style="width: 100%; display: flex; align-items: flex-start;">
        <img
          style="margin-right: 1em; width: 88px; flex-shrink: 0;"
          src="/assets/images/radar/{{ entry.icon }}"/>
        <div style="flex-grow: 1;">
          <h3 class="caps mt0">
            {% if entry.status == "use" %}
            <span class="radar-label radar-label-use">Use</span>
            {% endif %}
            {% if entry.status == "try" %}
            <span class="radar-label radar-label-try">Try</span>
            {% endif %}
            {% if entry.status == "share" %}
            <span class="radar-label radar-label-share">Share</span>
            {% endif %}
            <a class="" href="{{ entry.url }}">{{ entry.title }}</a>
          </h3>
          <p>
            {{ entry.intro }}
            <br/>
            <span class="muted">{{ entry.date | date: "%-d %b %Y"}}</span>
          </p>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="md-col-right md-col-5 px3">
      <h2>What is "good enough"?</h2>

      <h3><span class="radar-label radar-label-try">Try</span></h3>

      <p>
        This app looks really promising. It's not
        just a tech demo &mdash; it's got a good user interface
        and support too. If you're interested in a
        decentralized internet, try it out, and report bugs.
      </p>

      <h3><span class="radar-label radar-label-use">Use</span></h3>

      <p>
        This app is great to use day to day, and many
        people do so. It is more private and more resilient
        than alternatives. Using it will help create a more
        competitive market.
      </p>

      <h3><span class="radar-label radar-label-share">Share</span></h3>

      <p>
        This app is not only strategically important
        for decentralization, it competes extremely well
        against alternatives that your friends already use.
        Tell them about it.
      </p>

      <!--
      <h2>How are they judged?</h2>

      <p>
        There's no rigid criteria, it's an editorial call. These are some key factors:
      </p>
      <ul>
        <li>Product has shipped</li>
        <li>Home page has clear description of what it is in a way any consumer might understand</li>
        <li>Working Android and iOS apps available</li>
        <li>Actually installs and runs and does its job relatively easily</li>
        <li>There's a small community using it day to day for real</li>
        <li>It's actually useful</li>
        <li>It feels good quality</li>
        <li>It's actually decentralized</li>
      </ul> -->

      <p style="margin-top: 24px;">
        <a href="https://www.thoughtworks.com/radar">
          Thanks to the inspiring ThoughtWorks Radar
        </a>
      </p>
    </div>
  </div>
</section>
