---
layout: default
title: Radar
id: radar
---

<div class="row">
  <div class="col-md-8">
	<h1>Redecentralize Radar app directory</h1>

	  {% for entry in site.radar reversed %}
		<div class="radar-listing">
		  <img src="/assets/images/radar/{{ entry.icon }}">
		  <h2>
			<a href="{{ entry.url }}">{{ entry.title }}</a>
			  {% if entry.status == "use" %} 
				<span class="label label-info">Use</span>
			  {% endif %}
			  {% if entry.status == "try" %} 
				<span class="label label-primary">Try</span>
			  {% endif %}
			  {% if entry.status == "share" %} 
				<span class="label label-success">Share</span>
			  {% endif %}
			  {% if entry.status == "hold" %} 
				<span class="label label-warning">Hold</span>
			  {% endif %}
		  </h2>
		  <p>{{ entry.intro }}</p>
		</div>
	  {% endfor %}

  </div>

  <div class="col-md-4">

	<h1>Sign up</h1>

	<p class="lead">
	   We'll email you when a new decentralized app gets good enough to try, use or share. 
	</p>

	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
	<form action="//redecentralize.us7.list-manage.com/subscribe/post?u=e695b0ee388925f96abc28c36&amp;id=8718aeab17" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
		
		<input type="email" value="" name="EMAIL" class="email input-lg" id="mce-EMAIL" placeholder="Email address" required>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e695b0ee388925f96abc28c36_8718aeab17" tabindex="-1" value=""></div>
		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-primary"></div>
		</div>
	</form>
	</div>
	<!--End mc_embed_signup-->

	<p class="radar-rss">
	  <a target="_blank" href="/radar/feed.rss"><i class="icon-rss"></i> RSS feed</a>
	</p>

	<h1>What is "good enough"?</h1>
	  
	<h2><span class="label label-success">Share</span></h2>

	<p>This app is not only strategically important
	for decentralization, it competes extremely well
	against alternatives that your friends already use.
	Tell them about it.
	</p>
	  
	<h2><span class="label label-info">Use</span></h2>

	<p>This app is great to use day to day, and many
	people do so. It is more private and more resilient
	than alternatives. Using it will help create a more
	competitive market.
	</p>

	<h2><span class="label label-primary">Try</span></h2>	  
	  
	<p>This app looks really promising. It's not
	just a tech demo &mdash; it's got a good user interface
	and support too. If you're interested in a
	decentralized internet, try it out, and report bugs.
	</p>

	<h2><span class="label label-warning">Hold</span></h2>

	<p>This app is a great idea, and built on good
	decentralizing technology. However, it isn't ready 
	to use yet. Help the user experience get better 
	first!
	</p>

<!--	<h2>How are they judged?</h2>

	<p>There's no rigid criteria, it's an editorial call. These are some key factors:

    <ul>
    <li>Product has shipped</li>
    <li>Home page has clear description of what it is in a way any consumer might understand</li>
    <li>Working Android and iOS apps available</li>
    <li>Actually installs and runs and does its job relatively easily</li>
    <li>There's a small community using it day to day for real</li>
    <li>It's actually useful</li>
    <li>It feels good quality</li>
	</ul> -->

	<p style="margin-top: 24px;">
		<a href="https://www.thoughtworks.com/radar">
		Thanks to the inspiring ThoughtWorks Radar</a>
	</p>
  </div>
</div>


