---
layout: default
id: articles
---

<div class="bg-green">
  <header>
    <h1>{{page.title}}</h1>
    {% if page.header %}
    {{ page.header }}
    {% endif %}
  </header>
</div>
<div class="bg-medium">
  <main class="container single-column">
    {% for post in site.categories[page.category] %}
    {% assign author = site.authors[post.author] %}
    <article class="py2">
      {{ post.date  | date: "%-d %B %Y" }} - <small>{{ author.display_name }}</small>
      <a rel="bookmark" href="{{post.url}}">
        <h2 class="h3">{{ post.title }}</h2>
      </a>
      <p>
        {{ post.summary }}
      </p>
    </article>
    {% endfor %}
    {% if page.footer %}
    <footer>
      <hr class="flashy pill"/>
      {{ page.footer }}
    </footer>
    {% endif %}
  </main>
</div>
