---
layout: default
id: article
---

{% assign author = site.authors[page.author] %}

<section class="container px4 py4">
  <div class="clearfix mxn4">

    <div class="sm-col sm-col-8 px4 py1">
      <span class="muted">{{ page.date | date_to_string }} - <a href="{{author.link}}">{{ author.display_name }}</a></span>

      {{ content }}

      <img src="/assets/images/avatars/{{author.picname}}" class="circle"/>
      <br/>
      <p>By: <a href="{{author.link}}">{{ author.display_name }}</a></p>
    </div>

    <div class="sm-col sm-col-4 px4 py1 right">
      <h3>Recent posts</h3>

      <ul class='recent-posts'>
        {% for post in site.categories[page.categories.first] offset: 0 limit: 10 %}
        {% if posts.title == page.title %}
        {% else %}
        <li>
          {% assign author = site.authors[post.author] %}
          <a href="{{post.url}}">{{post.title}}</a> by {{author.display_name}}
        </li>
        {% endif %}
        {% endfor %}
      </ul>

    </div>
  </section>
