---
layout: default
id: article
---

{% assign author = site.authors[page.author] %}

<main class="container single-column spacious">
  <h1>{{ page.title }}</h1>
  <p class="muted">
    {{ page.date | date_to_string }} —
    {% if author.link %}
    <a href="{{author.link}}">{{ author.display_name }}</a>
    {% else %}
    {{ author.display_name }}
    {% endif %}
  </p>

  {{ content }}

  <footer>
    {% if page.footer %}
    {{ page.footer | markdownify }}
    {% endif %}
    {% if author.picname %}
    <img src="/assets/images/avatars/{{author.picname}}" class="circle"/>
    {% endif %}
    <br/>
    <p>
      By:
      {% if author.link %}
      <a href="{{author.link}}">{{ author.display_name }}</a>
      {% else %}
      {{ author.display_name }}
      {% endif %}
    </p>
  </footer>
</main>
