---
layout: default
id: articles
---

<h1>Blog</h1>
<div class="listing">
  {% for post in site.categories[page.category] %}
    {% assign author = site.authors[post.author] %}
    <div class="col-md-9 blogpost">
      {{ post.date  | date: "%-d %B %Y" }} - <small>{{ author.display_name }}</small>
      <h4>{{ post.title }}</h4>
      <p style="color: #000;">
        {{ post.summary }}
        <div>
            <!--<a href="{{post.url}}#disqus_thread" style='display:inline; position:relative;'></a>-->
            <a href="{{post.url}}"  style='display:inline; position:relative;'>Read more &raquo;</a>
        </div>
      </p>
    </div>
  {% endfor %}
</div>

<!--<script type="text/javascript">-->
  <!--var disqus_shortname = 'redecentralizedotorg';-->

  <!--/* * * DON'T EDIT BELOW THIS LINE * * */-->
  <!--(function () {-->
      <!--var s = document.createElement('script'); s.async = true;-->
      <!--s.type = 'text/javascript';-->
      <!--s.src = '//' + disqus_shortname + '.disqus.com/count.js';-->
      <!--(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);-->
  <!--}());-->
  <!--</script>-->
