---
layout: default
id: blog
---
{% assign author = site.authors[page.author] %}
<div class="col-sm-8">
  <div class="col-sm-2">
      <br/>
      <img src="/assets/images/avatars/{{author.picname}}" class="avatar"/>
  </div>

  <div class="col-sm-10">
    <h1>{{ page.title }}</h1>
    <div>
      <span class="muted">{{ page.date | date_to_string }} - <a href="{{author.link}}">{{ author.display_name }}</a></span>
    </div>
  </div>
</div>

<div class="col-sm-4 pull-right">
    <h2>Recent posts</h2>

    <ul class='recent-posts'>
    {% for post in site.categories['blog'] offset: 0 limit: 10 %}
      {% if posts.title == page.title %}
      {% else %}
      <li>
        {% assign author = site.authors[post.author] %}
        <a href="{{post.url}}">{{post.title}}</a> by {{author.display_name}}
      </li>
      {% endif %}
    {% endfor %}
    </ul>

</div>

<div class="col-sm-8 blogpost ">
    {{ content }}
</div>
</div>

