<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="SslreymzxZXYc1zIgjvt-3sXg0IQcfI8CxgvXIN0VYA" />
    <title>{{ page.title }} &middot; redecentralize.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An organisation with a mission to make everything decentralized again">
    <meta name="author" content="Francis Irving">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/new.css" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" href="/podcast/feed.rss" title="Redecentralize interviews RSS"/>


    <script src="/assets/js/jquery-1.9.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="/assets/images/logo-square-large.png">
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand brand"><img src="/assets/images/logo-square-large-inverse.png" alt=""> Redecentralize.org</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
	<div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
		<li {% if page.id == 'interviews' %} class="active" {% endif %} > <a href="/interviews/" >Interviews</a></li>
		<li {% if page.id == 'conference' %} class="active" {% endif %} > <a href="/conference/" >Conference</a></li>
	    </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu">
                  <li> <a href="https://github.com/redecentralize/organize/wiki" target="_blank">Wiki</a></li>
		  <li> <a href="http://t.co/z1zZ16C57Z">Newsletter</a>
                  <li> <a href="https://groups.google.com/forum/#!forum/redecentralize" target="_blank">Discussion list</a></li>
              </ul>
            </li>
            <li {% if page.id == 'about' %} class="active" {% endif %} > <a href="/about/" >About</a></li>
          </ul>
        </div>
      </div>
    </div>

    {{ content }}

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.redecentralize.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.redecentralize.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

  </body>
</html>
