<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} &middot; redecentralize.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An organisation with a mission to make everything decentralized again">
    <meta name="author" content="Francis Irving">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/master.css" rel="stylesheet">

    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="/assets/images/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><i class="logo"></i> redecentralize<span>.org</span></a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li {% if page.id == 'interviews' %} class="active" {% endif %} > <a href="/interviews/" >Interviews</a></li>
            <li {% if page.id == 'about' %} class="active" {% endif %} > <a href="/about/" >About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Subscribe <i class="icon-caret-down"></i></a>
              {% include subscribe.ext %}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>

  </body>
</html>
