<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="google-site-verification" content="SslreymzxZXYc1zIgjvt-3sXg0IQcfI8CxgvXIN0VYA" />
  {% if page.id == "index" %}
  <title>Redecentralize.org</title>
  {% else %}
  <title>{{ page.title }} &mdash; Redecentralize.org</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="An organisation with a mission to make everything decentralized again"/>

  <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
  <link href="/assets/css/basscss.min.css" rel="stylesheet"/>
  <link href="/assets/css/main.css" rel="stylesheet"/>

  <link rel="alternate" type="application/rss+xml" href="/blog/feed.rss" title="Redecentralize blog"/>

  <link rel="shortcut icon" href="/assets/images/logo-square-large.png"/>

  {{ page.head }}
</head>

<body>
  <nav>
    <div class="left">
      <a href="/" class="top-level-nav caps">
      <img
        src="/assets/images/logo-square-large.png"
        style="height: 2em; vertical-align: middle; margin-right: 1em;"
      />
        Redecentralize
      </a>
    </div>
    <div class="right">
      <details class="relative collapse-on-click">
        <summary class="top-level-nav">Projects</summary>
        <div class="dropdown" style="min-width:124px">
          <ul>
            <li {% if page.id == 'interviews' %} class="active" {% endif %} > <a href="/interviews/">Founder Interviews</a></li>
            <li {% if page.id == 'radar' %} class="active" {% endif %} > <a href="/radar/" >App Radar</a></li>
            <li> <a href="https://github.com/redecentralize/alternative-internet" target="_blank">Alternative Internet</a></li>
            <li {% if page.id == 'events' %} class="active" {% endif %} > <a href="/events">Events</a></li>
          </ul>
        </div>
      </details>
      <details class="relative collapse-on-click">
        <summary class="top-level-nav">Get Involved</summary>
        <div class="dropdown" style="min-width:124px">
          <ul>
            <li> <a href="https://github.com/redecentralize/organize/issues" target="_blank">Help organize</a></li>
            <li> <a href="https://matrix.to/#/!UOiWshZxoMFennjjxm:matrix.org" target="_blank">Chat channel</a></li>
            <li> <a href="https://github.com/redecentralize/organize/wiki" target="_blank">Wiki</a></li>
            <li> <a href="https://adhoc.group/*redecentralize" target="_blank">Discussion list</a></li>
            <li> <a href="https://github.com/redecentralize/organize/wiki/Local-Groups" target="_blank">Local groups</a></li>
            <li> <a href="https://www.patreon.com/redecentralize" target="_blank">Donate to us</a></li>
          </ul>
        </div>
      </details>
      <a class="top-level-nav" href="/blog/">Blog</a>
    </div>
  </nav>

  {{ content }}

  <footer>
    Support Redecentralize:
    <a class="btn-support" href="https://www.patreon.com/bePatron?u=12764983">Become a patron</a>
  </footer>

  <script type="text/javascript">
    // Make a navigation drop-down menu close when the user clicks anywhere outside of it.
    document.addEventListener('click', event => {
      for (detailsElement of Array.from(document.querySelectorAll('details.collapse-on-click'))) {
        if (detailsElement.open && !detailsElement.contains(event.target)) {
          detailsElement.open = false;
        }
      }
    });
  </script>
</body>
</html>
