---
layout: none
---

<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">

<channel>

<title>{{ page.title }} — Redecentralize</title>
<link>https://redecentralize.org</link>

<language>en-us</language>

<description>{{ page.description }}</description>

{% for post in site.categories[page.category] %}
{% assign author = site.authors[post.author] %}
<item>
  <title>{{ post.title }}</title>
  <link>https://redecentralize.org{{ post.url }}</link>
  <author>{{ author.display_name }}</author>
  <description><![CDATA[{{ post.content }}]]></description>
  <guid>https://redecentralize.org{{ post.url }}</guid>
  <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
</item>

{% endfor %}

</channel>
</rss>
