---
layout: default
---

<div class="row">
  <h1 class="col-sm-12">{{ page.title }}</h1>
  <div class="col-sm-8">
    <video controls width="100%" poster="{{ page.poster }}">
      <source src="{{ page.url-mp4 }}" type="video/mp4" />
      <source src="{{ page.url-webm }}" type="video/webm" />
    </video>
  </div>
  <div class="col-sm-4">
    <p>{{ page.summary }}
    <span class="muted">{{ page.date | date_to_string }} </span>
    </p>
    <h5>Links</h5>
    <ul>
      {{ page.links }}
  </ul>
  </div>
</div>

{% if page.transcript %}
  <div class="row transcript">
    <div class="col-sm-8">
      <h2>Transcript</h2>
      {% if page.transcript_by %}
        <p class="muted by">Kindly transcribed by: {{ page.transcript_by }}</p>
      {% endif %}
      {{ page.transcript }}
    </div>
  </div>
{% endif %}

