---
layout: default
---

<div class="row">

  <div class="span12">
    <h2>{{ page.title }}</h2>
  </div>

</div>

<div class="row">

  <div class="span8">
    <video controls width="100%" poster="{{ page.poster }}">
      <source src="{{ page.url-mp4 }}" type="video/mp4" />
      <source src="{{ page.url-webm }}" type="video/webm" />
    </video>
  </div>

  <div class="span4">
    <p>{{ page.summary }}
    <span class="muted">{{ page.date | date_to_string }} </span>
    </p>
    {{ content }}
  </div>

</div>

<div class="row" style="padding-top: 40px">
  <div class="span8">
     {% include disqus.ext %}
  </div>
</div>


