---
layout: default
---

<div class="container">
  <a href="/radar">&laquo; Redecentralize Radar app directory</a>
  <div class="clearfix mxn3">
    <main class="md-col md-col-7 px3">
      <h1>
        <img
          style="height: 88px; margin-right: 16px; vertical-align: middle; float: left;"
          src="/assets/images/radar/{{ page.icon }}"
        />
        {% if page.status == "use" %}
        <span class="radar-label radar-label-use">Use</span>
        {% endif %}
        {% if page.status == "try" %}
        <span class="radar-label radar-label-try">Try</span>
        {% endif %}
        {% if page.status == "share" %}
        <span class="radar-label radar-label-share">Share</span>
        {% endif %}
        {{ page.title }}
      </h1>
      <p class="lead">{{ page.intro }}</p>
      <p><b>Good things:</b> {{ page.good }}</p>
      <p><b>Bad things:</b> {{ page.bad }}</p>
      <p><b>Future promise:</b> {{ page.future }}</p>

      <p class="lead"><a href="{{ page.appurl }}">{{ page.title }} home page &raquo;</a></p>

      <div>Entry reviewed {{ page.date | date: "%-d %b %Y"}}</div>
    </main>

    <aside class="md-col-right md-col-5 px3 py3">
      <h2>What's this directory?</h2>

      <p>Redecentralize Radar is a directory of applications which are private and resilient.</p>
    </aside>
  </div>
</div>
