---
layout: default
id: redigest
---

<header>
  <a href="/redigest/">&laquo; Other digests</a>
</header>
<main class="container single-column spacious">

  <img alt="" src="https://redecentralize.org/assets/images/logo-large.png" width="1670" height="320" style="display: block; width: 400px; max-width: 100%; height: auto; margin: auto;"/>

  {{ content }}

  <footer>
    <hr/>
    <p>
      To receive future digests, follow our <a href="/blog/">blog</a> or subscribe to our newsletter:
      <a class="flashy btn" target="_blank" href="https://lists.redecentralize.org/subscription/4kXQFACSu">Subscribe to our newsletter</a>
    </p>
  </footer>
</main>
