---
layout: default
id: redigest
---

<header style="display: flex; justify-content: space-between; flex-flow: row wrap;">
  <a href="/redigest/">&laquo; Other digests</a>
  {% if page.mp3_url %}
  <audio type="audio/mpeg" controls preload="metadata" src="{{ page.mp3_url }}" style="max-width: 100%;"></audio>
  {% endif %}
</header>
<main class="container single-column spacious">

  <img alt="" src="https://redecentralize.org/assets/images/logo-large.png" width="1670" height="320" style="display: block; width: 400px; max-width: 100%; height: auto; margin: auto;"/>

  {{ content }}

</main>
